{% extends "organizing/base.html" %}

{% block section_name %}Campaigns{% endblock %}

{% block section_content %}
<h3>{{ campaign.name }}</h3>
<div class="row">
  <div class="col">
  <h4>Description</h4>
  {{ campaign.description }}
  </div>
  <div class="col">
  <table>
    <thead>
        <th>Office</th>
        <th>Supports</th>
        <th>Opposes</th>
        <th>Undecided</th>
        <th>Total Needed (#)</th>
        <th>Remaining Goal</th>
    </thead>
    <tbody>
        <tr>
            <td>Governor</td>
            <td>{{ governor_supporters.count }}</td>
            <td>{{ governor_opponents.count }}</td>
            <td>0</td>
            <td>1</td>
            <td>{{ governor_goal }}</td>
        </tr>
        <tr>
            <td>State Senate</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>51</td>
            <td>51</td>
        </tr>
        <tr>
            <td>State House</td>
            <td>{{ house_supporters.count }}</td>
            <td>{{ house_opponents.count }}</td>
            <td>0</td>
            <td>102</td>
            <td>{{ house_goal }}</td>
        </tr>
    </tbody>
</table>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Supporters &nbsp; <span class="badge text-bg-success">{{ campaign.target_supporters_count }}</span>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          <ul>
            {% for level in campaign.target_supporters %}
            <li>
            <a href="/{{ slug }}/lobbying/public-officials/{{ level.public_official.id }}">{{ level.public_official.full_name_with_title }}</a> <b>{{ level.campaign_support | lower }}</b> the {{ level.campaign }} campaign and
            <b>{{ level.legislation_support | lower }}</b> the {{ level.campaign.legislation }} bill(s)
            </li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Undecided &nbsp; <span class="badge text-bg-secondary">{{ campaign.target_undecided_count }}</span>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul>
        {% for level in campaign.target_undecided %}
            <li>
            <a href="/{{ slug }}/lobbying/public-officials/{{ level.public_official.id }}">{{ level.public_official.full_name_with_title }}</a> is <b>{{ level.campaign_support | lower }}</b> the {{ level.campaign }} campaign and
            <b>{{ level.legislation_support | lower }}</b> the {{ level.campaign.legislation }} bill(s)
            </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Opposers &nbsp; <span class="badge text-bg-danger">{{ campaign.target_opposers_count }}</span>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul>
        {% for level in campaign.target_opposers %}
            <li>
            <a href="/{{ slug }}/lobbying/public-officials/{{ level.public_official.id }}">{{ level.public_official.full_name_with_title }}</a> <b>{{ level.campaign_support | lower }}</b> the {{ level.campaign }} campaign and
            <b>{{ level.legislation_support | lower }}</b> the {{ level.campaign.legislation }} bill(s)
            </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

</div>

</div>

{% endblock %}