{% extends "organizing/base.html" %}

{% block section_name %}Campaigns{% endblock %}

{% block section_content %}
<h3>{{ campaign.name }}</h3>

<table border="1">
    <thead>
        <th>Office</th>
        <th>Supports</th>
        <th>Opposes</th>
        <th>Undecided</th>
        <th>Total Needed (#)</th>
        <th>Total Needed (%)</th>
    </thead>
    <tbody>
        <tr>
            <td>Governor</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>100.0%</td>
        </tr>
        <tr>
            <td>State Senate</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>51</td>
            <td>51.0%</td>
        </tr>
        <tr>
            <td>State House</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>102</td>
            <td>51.0%</td>
        </tr>
    </tbody>
</table>

<h4>Supporters ({{ campaign.target_supporters_count }})</h4>

<ul>
{% for level in campaign.target_supporters %}
    <li>
    {{ level.official.full_name_with_title }} <b>{{ level.campaign_support | lower }}</b> the {{ level.campaign }} campaign and
    <b>{{ level.legislation_support | lower }}</b> the {{ level.legislation }} ({{ level.legislation.number }}) bill
    </li>
{% endfor %}
</ul>

<h4>Opposers ({{ campaign.target_opposers_count }})</h4>

<ul>
{% for level in campaign.target_opposers %}
    <li>
    {{ level.official.full_name_with_title }} <b>{{ level.campaign_support | lower }}</b> the {{ level.campaign }} campaign and
    <b>{{ level.legislation_support | lower }}</b> the {{ level.legislation }} ({{ level.legislation.number }}) bill
    </li>
{% endfor %}
</ul>

<h4>Undecided ({{ campaign.target_undecided_count }})</h4>

<ul>
{% for level in campaign.target_undecided %}
    <li>
    {{ level.official.full_name_with_title }} <b>{{ level.campaign_support | lower }}</b> the {{ level.campaign }} campaign and
    <b>{{ level.legislation_support | lower }}</b> the {{ level.legislation }} ({{ level.legislation.number }}) bill
    </li>
{% endfor %}
</ul>


{% endblock %}