{% extends "core/base.html" %}

{% block content %}

<h1>Campaign Dashboard</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for campaign in campaigns %}
  <div class="col">
    <div class="card {{ campaign.status_card }} h-100">
      <div class="card-header">{{ campaign.category }}</div>
      <div class="card-body">
        <h5 class="card-title">{{ campaign.name }}</h5>
        <p class="card-text">Short campaign description goes here.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
      <div class="card-header">
        Priority: {{ campaign.priority_label | title }}
        Status: {{ campaign.status | title }}</div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}