{% extends "core/base.html" %}

{% block content %}
<h2>Lobbying: Official Profile</h2>

<img src="{{ public_official.official_profile_photo_url }}" />
<h3>{{ public_official.full_name }}</h3>
{% for position in public_official.publicofficialposition_set.all %}
    {{ position.title }}
{% endfor %}

<h4>Profile Info</h4>
<ul>
{% for position in public_official.publicofficialposition_set.all %}
    <li>Public Office: <a href="{{ position.official_profile_url }}">{{ position }}</a> ({{ position.start_date }} to present)</li>
{% endfor %}
    <li>Elected Official: {{ public_official.is_elected }}</li>
    <li>Political Party: {{ public_official.political_party }}</li>
</ul>

<h4>Current Support Levels</h4>
<ul>
{% for level in support_levels %}
    <li>
    {{ level.campaign_support | lower | capfirst }} the {{ level.campaign }} campaign and
    {{ level.legislation_support | lower }} the {{ level.legislation }} ({{ level.legislation.number }}) bill
    </li>
{% endfor %}
</ul>
{% endblock %}