{% extends "core/base.html" %}

{% block content %}
<h1>{{ org_account.name }}</h1>
<p>{{ description }}</p>

<ul>
    <li>{{ hq_address }}</li>
    <li><a href="{{ website_url }}">{{ website_url }}</a></li>
    <li><a href="mailto:{{ email_address }}">{{ email_address }}</a></li>
    <li><a href="https://www.facebook.com/{{ facebook_handle }}">{{ facebook_handle }}</a></li>
    <li><a href="https://www.twitter.com/{{ twitter_handle }}">@{{ twitter_handle }}</a></li>
    <li><a href="">{{ instagram_handle }}</a></li>
    <li><a href="">{{ tiktok_handle }}</a></li>
    <li><a href="">{{ youtube_handle }}</a></li>

</ul>

{% endblock %}